.delete-button {
  background-color: transparent;
  border-width: 0px;
  height: 12px;
  width: 12px;
  border-width: 0px;
}
.password-items {
  color: white;
  margin-bottom: 12px;
}
.list-items-container {
  display: flex;
  border-style: solid;
  justify-content: space-evenly;
  padding: 12px;
  border-color: #b6c3ca;
  border-width: 0.2px;
  width: 300px;
  margin-right: 12px;
}
.thumbnail {
  border-style: solid;
  background-color: #10b981;
  padding: 12px;
  border-radius: 50px;
  height: 35px;
  border-width: 0px;
  padding-top: 5px;

  margin-right: 10px;
  color: white;
  font-size: 20px;
}
.password-image {
  width: 80px;
}
.delete-image {
  height: 20px;
  width: 20px;
  margin-top: 15px;
}
